@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu+Mono&display=swap");

$bg: rgb(15, 15, 15);
$coloreScrittePrimo: #0f8852;
//d4af37
$coloreScritteSecondo: white;

//#FF004F

$text-length: 17;
$animation-time: 4s;

//Scroll-bar
::-webkit-scrollbar-track {
  background-color: $bg;
  border: none;
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $coloreScrittePrimo;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $bg;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

body {
  font-family: "Poppins", sans-serif, monospace;
  font-weight: 400;
  background-color: $bg;
  color: $coloreScritteSecondo;
  cursor: none;

  @media (pointer: none), (pointer: coarse) {
    .cursor {
      display: none;
    }
  }

  //cursore animato
  @media (pointer: fine) {
    .cursor {
      position: fixed;
      left: 0;
      top: 0;
      pointer-events: none;
    }

    .cursor--small {
      width: 5px;
      height: 5px;
      left: -2.5px;
      top: -2.5px;
      border-radius: 50%;
      z-index: 11000;
      background: transparent;
    }

    .cursor--canvas {
      width: 100vw;
      height: 100vh;
      z-index: 12000;
    }
  }
}

i {
  font-size: 30px;
  color: white;
}

strong {
  font-weight: 700;
}

header {
  @media only screen and (min-width: 992px) {
    .row {
      height: 30%;
    }

    #buttons {
      margin-bottom: 10%;
    }

    h1 {
      font-size: 5vw;
    }
  }

  @media only screen and (max-width: 992px), (max-height: 420px) {
    #title {
      height: 30%;
    }

    #buttons {
      margin-top: 5vh;
      height: 30vh;
    }
  }

  @media only screen and (max-width: 280px), (max-height: 420px) {
    h1 {
      font-size: 20px;
    }

    h3 {
      font-size: 16px;
    }
  }

  > .container-fluid {
    height: 93vh;
    margin-top: 7vh;
  }

  h3 {
    display: block;
    text-align: center;
  }

  // Typing style
  .typing {
    font-family: "Ubuntu", monospace;
    width: fit-content;
    position: relative;
    &::after {
      content: "|";
      position: absolute;
      right: 0;
      width: 100%;
      color: white;
      background: $bg;
      animation: typing $animation-time steps($text-length) forwards, caret 1s infinite;
    }
  }
  // Animation
  @keyframes typing {
    to {
      width: 0;
    }
  }
  @keyframes caret {
    50% {
      color: transparent;
    }
  }

  .navbar {
    min-height: 7vh;
    max-width: 100vw;
    font-size: 20px;
    background-color: rgb(15, 15, 15);
  }

  //BOTTONE
  div {
    .btn {
      width: 70%;
      height: 50%;
      text-align: center;
      font-size: 24px;
      max-height: 140px;

      @media only screen and (max-width: 260px), (max-height: 420px) {
        font-size: 16px;
        margin-top: 5vh;
      }

      @media only screen and (min-width: 992px){
        font-size: 32px;
      }
    }

    .btn-one {
      color: $coloreScrittePrimo;
      transition: all 0.3s;
      position: relative;
    }
    .btn-one span {
      transition: all 0.3s;
    }
    .btn-one::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-color: rgba($coloreScrittePrimo, 0.5);
      border-bottom-color: rgba($coloreScrittePrimo, 0.5);
      transform: scale(0.1, 1);
    }
    .btn-one:hover span {
      letter-spacing: 2px;
    }
    .btn-one:hover::before {
      opacity: 1;
      transform: scale(1, 1);
    }
    .btn-one::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.3s;
      background-color: rgba(255, 255, 255, 0.1);
    }
    .btn-one:hover::after {
      opacity: 0;
      transform: scale(0.1, 1);
    }
  }
}

main {
  font-size: 25px;

  #AboutMe {
    height: 93vh;

    @media only screen and (max-width: 991px), (max-height: 890px) {
      height: auto;
      min-height: 93vh;
    }

    @media only screen and (max-width: 600px) {
      font-size: 20px;
    }

    @media only screen and (max-width: 400px) {
      font-size: 16px;
      padding: 0px;
    }

    h3,
    h2 {
      color: $coloreScrittePrimo;
    }

    h3 {
      font-size: 25px;
      @media only screen and (max-width: 575px) {
        font-size: 16px;
      }
    }

    /* Style the tab */

    .tab {
      display: flex;
      margin: 20px 0 20px;

      .tablinks {
        @media only screen and (min-width: 1213px) {
          margin-right: 50px;
        }

        @media only screen and (min-width: 992px) and (max-width: 1212px) {
          margin-right: 4vw;
        }

        @media only screen and (max-width: 991px) {
          margin-right: 50px;
        }

        @media only screen and (max-width: 440px) {
          margin-right: 9vw;
        }

        font-size: 0.8em;
        font-weight: 400;
        position: relative;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.1em;
          background-color: $coloreScrittePrimo;
          transition: opacity 0.5s, transform 0.5s;
          opacity: 0;
        }

        &:hover::after,
        &:focus::after {
          opacity: 1;
          //trasla in basso di 0.2m
          transform: translate3d(0, 0.2em, 0);
        }

        &.active::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.1em;
          background-color: $coloreScrittePrimo;
          opacity: 1;
          transform: translate3d(0, 0.2em, 0);
        }
      }

      #terzoTab {
        margin-right: 0px;
      }
    }
  }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
  }

  #Projects {
    .container-fluid{
      @media (min-width: 576px){
        max-width: 510px;
      }
      @media (min-width: 768px){
        max-width: 720px;
      }
      @media (min-width: 992px){
        max-width: 960px;
      }
    }

    
  }
}

footer {
  div {
    color: white;
  }
}

@media only screen and (max-width: 549.99px) {
  .btn {
    font-size: 30px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 1142.99px) {
  .btn {
    font-size: 38px;
  }
}

//da rivedere perché per ora uguale alla media only screen and query prima
@media only screen and (min-width: 1143px) {
  .btn {
    font-size: 38px;
  }
}
