@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu+Mono&display=swap");
::-webkit-scrollbar-track {
  background-color: rgb(15, 15, 15);
  border: none;
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #0f8852;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(15, 15, 15);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: rgb(15, 15, 15);
  color: white;
  cursor: none;
}
@media (pointer: none), (pointer: coarse) {
  body .cursor {
    display: none;
  }
}
@media (pointer: fine) {
  body .cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  body .cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: transparent;
  }
  body .cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  }
}

i {
  font-size: 30px;
  color: white;
}

strong {
  font-weight: 700;
}

@media only screen and (min-width: 992px) {
  header .row {
    height: 30%;
  }
  header #buttons {
    margin-bottom: 10%;
  }
  header h1 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 992px), (max-height: 420px) {
  header #title {
    height: 30%;
  }
  header #buttons {
    margin-top: 5vh;
    height: 30vh;
  }
}
@media only screen and (max-width: 280px), (max-height: 420px) {
  header h1 {
    font-size: 20px;
  }
  header h3 {
    font-size: 16px;
  }
}
header > .container-fluid {
  height: 93vh;
  margin-top: 7vh;
}
header h3 {
  display: block;
  text-align: center;
}
header .typing {
  font-family: "Ubuntu", monospace;
  width: fit-content;
  position: relative;
}
header .typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  color: white;
  background: rgb(15, 15, 15);
  animation: typing 4s steps(17) forwards, caret 1s infinite;
}
@keyframes typing {
  to {
    width: 0;
  }
}
@keyframes caret {
  50% {
    color: transparent;
  }
}
header .navbar {
  min-height: 7vh;
  max-width: 100vw;
  font-size: 20px;
  background-color: rgb(15, 15, 15);
}
header .navbar a {
  color: #0f8852;
}
header div .btn {
  width: 70%;
  height: 50%;
  text-align: center;
  font-size: 30px;
  min-height: 45px;
  max-height: 100px;
}
@media only screen and (max-width: 280px), (max-height: 420px) {
  header div .btn {
    font-size: 24px;
    margin-top: 5vh;
  }
}
@media only screen and (min-width: 992px) {
  header div .btn {
    font-size: 40px;
    max-height: 140px;
  }
}
header div .btn-one {
  color: #0f8852;
  transition: all 0.3s;
  position: relative;
}
header div .btn-one span {
  transition: all 0.3s;
}
header div .btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(15, 136, 82, 0.5);
  border-bottom-color: rgba(15, 136, 82, 0.5);
  transform: scale(0.1, 1);
}
header div .btn-one:hover span {
  letter-spacing: 2px;
}
header div .btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
header div .btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
header div .btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

main {
  font-size: 25px;
}
main #AboutMe {
  height: 93vh;
  /* Style the tab */
}
@media only screen and (max-width: 991px), (max-height: 890px) {
  main #AboutMe {
    height: auto;
    min-height: 93vh;
  }
}
@media only screen and (max-width: 600px) {
  main #AboutMe {
    font-size: 20px;
  }
}
@media only screen and (max-width: 400px) {
  main #AboutMe {
    font-size: 16px;
    padding: 0px;
  }
}
main #AboutMe img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
main #AboutMe h3,
main #AboutMe h2 {
  color: #0f8852;
}
main #AboutMe h3 {
  font-size: 25px;
}
@media only screen and (max-width: 575px) {
  main #AboutMe h3 {
    font-size: 16px;
  }
}
main #AboutMe .tab {
  display: flex;
  margin: 20px 0 20px;
}
main #AboutMe .tab .tablinks {
  font-size: 0.8em;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}
@media only screen and (min-width: 1213px) {
  main #AboutMe .tab .tablinks {
    margin-right: 50px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1212px) {
  main #AboutMe .tab .tablinks {
    margin-right: 4vw;
  }
}
@media only screen and (max-width: 991px) {
  main #AboutMe .tab .tablinks {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 440px) {
  main #AboutMe .tab .tablinks {
    margin-right: 9vw;
  }
}
main #AboutMe .tab .tablinks::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #0f8852;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
}
main #AboutMe .tab .tablinks:hover::after, main #AboutMe .tab .tablinks:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
main #AboutMe .tab .tablinks.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #0f8852;
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
main #AboutMe .tab #terzoTab {
  margin-right: 0px;
}
main #AboutMe .btn-one {
  color: #0f8852;
  transition: all 0.3s;
  position: relative;
  font-size: 25px;
}
main #AboutMe .btn-one span {
  transition: all 0.3s;
  font-size: 0.8em;
}
main #AboutMe .btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(15, 136, 82, 0.5);
  border-bottom-color: rgba(15, 136, 82, 0.5);
  transform: scale(0.1, 1);
}
main #AboutMe .btn-one:hover span {
  letter-spacing: 2px;
}
main #AboutMe .btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
main #AboutMe .btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
main #AboutMe .btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
main #AboutMe i {
  color: #0f8852;
}
main .carousel-inner > .item > img,
main .carousel-inner > .item > a > img {
  width: 100%;
}
@media (min-width: 576px) {
  main #Projects .container-fluid {
    max-width: 510px;
  }
}
@media (min-width: 768px) {
  main #Projects .container-fluid {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  main #Projects .container-fluid {
    max-width: 960px;
  }
}
main #Projects .work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  border: solid 1px;
}
main #Projects .work-box:hover img {
  transform: scale(1.3);
}
main #Projects .work-img {
  display: block;
  overflow: hidden;
}
main #Projects .work-img img {
  transition: all 1s;
}
main #Projects .work-content {
  padding: 2rem 3% 1rem 4%;
  min-height: 117px;
}
main #Projects .work-content h2 {
  color: #0f8852;
}
main #Projects .work-content .w-more {
  color: #4e4e4e;
  font-size: 0.8rem;
}
main #Projects .work-content .w-more .w-ctegory {
  color: #0078ff;
}
main #Projects .work-content .w-like {
  font-size: 2.5rem;
  color: #0078ff;
  float: right;
}
main #Projects .work-content .w-like a {
  color: #0078ff;
}
main #Projects .work-content .w-like .num-like {
  font-size: 0.7rem;
}
main #Projects .w-title {
  font-size: 1.2rem;
}

footer div {
  color: white;
}

.form-body {
  height: auto;
  overflow: hidden;
  cursor: default;
}
.form-body .form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.form-body .form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.form-body .form-content .form-items {
  border: 3px solid #0f8852;
  padding: 40px;
  padding-bottom: 0px;
  display: inline-block;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media screen and (min-width: 660px) and ((min-height: 520px)) {
  .form-body .form-content .form-items {
    min-width: 540px;
    padding: 40px;
  }
}
@media screen and (max-width: 660px), (max-height: 520px) {
  .form-body .form-content {
    padding-top: 0px;
  }
}
.form-body .form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #0f8852;
}
.form-body .form-content h3.form-title {
  margin-bottom: 30px;
}
.form-body .form-content p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}
.form-body .form-content label,
.form-body .was-validated .form-check-input:invalid ~ .form-check-label,
.form-body .was-validated .form-check-input:valid ~ .form-check-label {
  color: #fff;
}
.form-body .form-content input[type=text],
.form-body .form-content input[type=password],
.form-body .form-content input[type=email],
.form-body .form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8d8d8d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}
.form-body .btn {
  all: none;
}
.form-body .btn-primary {
  background-color: #6c757d;
  outline: none;
  border: 0px;
  box-shadow: none;
}
.form-body .btn-primary:hover,
.form-body .btn-primary:focus,
.form-body .btn-primary:active {
  background-color: #495056;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}
.form-body .form-content textarea:hover,
.form-body .form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8d8d8d;
}
.form-body .mv-up {
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}
.form-body .invalid-feedback {
  color: #ff606e;
}
.form-body .valid-feedback {
  color: #2acc80;
}/*# sourceMappingURL=styles.css.map */